#countLable{
display: block;
font-size: 10em;
font-family: cursive;
text-align: center;
}
#BTNcontainer{
text-align: center;
}
.buttons{
    padding: 10px 20px;
    color: aqua;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.25s;
}
